<!-- intro -->
  <div
    class="intro amber z-depth-1 my-logo-text"
    [ngStyle]="this.getBackgroundImage()">

  <h1 class="light-blue-text text-lighten-5">SimuCred</h1>
  <h4 class="blue-text text-darken-1">Simule seu financiamento imobiliário!!!</h4>

    <div id="painel-inicial" class="row">
      <div class="col s12 m6 offset-m3">
        <a routerLink="login">
          <div
            id="botao-sac"
            class="card-panel red accent-4 center my-card-button"
          >
            <span class="white-text flow-text"> SAC </span>
          </div>
        </a>
        <a routerLink="login">
          <div
            id="botao-price"
            class="card-panel red accent-4 center my-card-button"
          >
            <span class="white-text flow-text"> PRICE </span>
          </div>
        </a>

      </div>
    </div>

</div>
<!-- intro -->

<!-- container -->
<div class="container about">
  <!-- painel serviços -->
  <div id="painel-servicos" style="display: none">
    <h5>Serviços</h5>
    <hr />
    <div class="row">
      <!-- serviços -->
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel amber accent-4 center my-card-button">
            <span class="white-text flow-text"> SAC </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a href="#">
          <div class="card-panel amber accent-4 center my-card-button">
            <span class="white-text flow-text"> PRICE </span>
          </div>
        </a>
      </div>
      <!-- serviços -->
    </div>
    <!-- fim linha -->
  </div>
  <!-- fim painel serviços -->

</div>
<!-- fim container -->
